.invitations {
  border-radius: 5px;
  background-color: #232323;
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.03);
  .invite {
    padding: 8px 24px;
    border-bottom: 1px solid #1e1e1e;
    display: flex;
    justify-content: space-between;
    .left {
      .user-avatar {
        display: flex;
        margin-left: 16px;
        .avatar {
          height: 41px;
          width: 41px;
          border: 1px solid #616161;
          border-radius: 50%;
          img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            vertical-align: middle;
            padding-top: 5px;
            padding-left: 5px;
          }
          .people {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            vertical-align: middle;
            padding-top: 5px;
            padding-left: 5px;
            background-color: #8e9afb;
            margin-top: 3px;
            margin-left: 3px;
            .mat-icon {
              color: #232323;
            }
          }
        }
        .name-cont {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 8px;
          .name {
            opacity: 0.8;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 13px;
          }
          .business {
            font-size: 10px;
            opacity: 0.4;
            line-height: 11px;
          }
        }
      }
    }
    .right {
      width: 187px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .stage {
        p {
          opacity: 0.6;
          font-size: 12px;
          letter-spacing: 0;
          line-height: 13px;
        }
      }
      .status {
        border-radius: 5px;
        text-align: center;
        position: relative;
        width: 102px;

        &.accepted {
          background-color: rgba($color: #57a75c, $alpha: 0.2);
          & > div {
            & > .dot {
              background-color: #57a85c;
            }
          }
        }
        &.pending {
          background-color: rgba($color: #f2c043, $alpha: 0.2);
          & > div {
            & > .dot {
              background-color: #f2c043;
            }
          }
        }
        &.declined {
          background-color: rgba($color: #ffc2c2, $alpha: 0.2);
          & > div {
            & > .dot {
              background-color: #d94e3c;
            }
          }
        }
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0.2;
        }
        & > div {
          color: rgba($color: #fff, $alpha: 0.8);
          font-size: 12px;
          letter-spacing: 0;
          line-height: 13px;
          position: relative;
          z-index: 1;
          display: flex;
          justify-content: space-between;
          height: 24px;
          align-items: center;
          padding: 0 14px;
          & > .dot {
            height: 6px;
            width: 6px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
