<div class="invitations">
  <div class="invite">
    <div class="left">
      <div class="user-avatar">
        <div class="avatar">
          <img src="./../../../../assets/images/download.jpeg" alt="" />
        </div>
        <div class="name-cont">
          <p class="name">Omar Green</p>
          <p class="business">Brown Brothers Harriman</p>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="stage">
        <p>Interview</p>
      </div>
      <div class="status accepted">
        <p>Accepted</p>
      </div>
    </div>
  </div>
  <div class="invite">
    <div class="left">
      <div class="user-avatar">
        <div class="avatar">
          <img src="./../../../../assets/images/download.jpeg" alt="" />
        </div>
        <div class="name-cont">
          <p class="name">Omar Green</p>
          <p class="business">Brown Brothers Harriman</p>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="stage">
        <p>Interview</p>
      </div>
      <div class="status pending">
        <p>Pending</p>
      </div>
    </div>
  </div>
  <div class="invite">
    <div class="left">
      <div class="user-avatar">
        <div class="avatar">
          <img src="./../../../../assets/images/download.jpeg" alt="" />
        </div>
        <div class="name-cont">
          <p class="name">Omar Green</p>
          <p class="business">Brown Brothers Harriman</p>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="stage">
        <p>Interview</p>
      </div>
      <div class="status declined">
        <p>Declined</p>
      </div>
    </div>
  </div>
  <div class="invite">
    <div class="left">
      <div class="user-avatar">
        <div class="avatar">
          <div class="people">
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              >people_alt</mat-icon
            >
          </div>
        </div>
        <div class="name-cont">
          <p class="name">There are 24 more updates</p>
        </div>
      </div>
    </div>
    <div class="show-all">
      <button mat-button color="accent">
        <span>Show all</span>
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >keyboard_arrow_right</mat-icon
        >
      </button>
    </div>
  </div>
</div>
