.offer-hiring {
  border: 2px solid #272727;
  border-radius: 5px;
  padding: 22px 24px 5px;
  .metric {
    .top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      p {
        opacity: 0.8;
        font-size: 12px;
        letter-spacing: 0;
        line-height: 13px;
      }
    }
    .bar {
      margin-bottom: 32px;
      ::ng-deep .mat-progress-bar {
        height: 6px;
        .mat-progress-bar-buffer {
          background-color: #333333;
        }
      }
      &.one {
        ::ng-deep .mat-progress-bar {
          .mat-progress-bar-primary::after {
            background-color: #82d564;
          }
        }
      }
      &.two {
        ::ng-deep .mat-progress-bar {
          .mat-progress-bar-primary::after {
            background-color: #cbdd7a;
          }
        }
      }
      &.three {
        ::ng-deep .mat-progress-bar {
          .mat-progress-bar-primary::after {
            background-color: #e5c06e;
          }
        }
      }
    }
  }
}
