<div class="offer-hiring">
  <div class="metric">
    <div class="top">
      <p>Hired</p>
      <p>22</p>
    </div>
    <div class="bar one">
      <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
    </div>
  </div>
  <div class="metric">
    <div class="top">
      <p>Offered</p>
      <p>22</p>
    </div>
    <div class="bar two">
      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    </div>
  </div>
  <div class="metric">
    <div class="top">
      <p>Interviewed</p>
      <p>22</p>
    </div>
    <div class="bar three">
      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    </div>
  </div>
</div>
