<div class="stats-bar">
  <div class="top-bar">
    <div class="left">
      <div class="item">
        <div class="number">
          <p>627</p>
        </div>
        <div class="heading">
          <p>Applied</p>
        </div>
      </div>
      <div class="item">
        <div class="number">
          <p>627</p>
        </div>
        <div class="heading">
          <p>Screening</p>
        </div>
      </div>
      <div class="item">
        <div class="number">
          <p>627</p>
        </div>
        <div class="heading">
          <p>Interviewing</p>
        </div>
      </div>
      <div class="item">
        <div class="number">
          <p>627</p>
        </div>
        <div class="heading">
          <p>Offered</p>
        </div>
      </div>
      <div class="item">
        <div class="number">
          <p>627</p>
        </div>
        <div class="heading">
          <p>Hired</p>
        </div>
      </div>
      <div class="item">
        <div class="number">
          <p>627</p>
        </div>
        <div class="heading">
          <p>Rejected</p>
        </div>
      </div>
    </div>
    <div class="right">
      <button mat-button color="accent">
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >settings</mat-icon
        >
        <span>Personalize View</span>
      </button>
    </div>
  </div>
  <div class="bottom-cards">
    <mat-grid-list cols="4" rowHeight="96px" gutterSize="16px">
      <mat-grid-tile colspan="1" rowspan="1" class="one">
        <div>
          <p class="number">112</p>
          <div class="button">
            <p>Upcoming Screenings</p>
            <mat-icon aria-hidden="false" color="accent" aria-label="arrow icon"
              >keyboard_arrow_right</mat-icon
            >
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="two">
        <div>
          <p class="number">112</p>
          <div class="button">
            <p>Upcoming Screenings</p>
            <mat-icon aria-hidden="false" color="accent" aria-label="arrow icon"
              >keyboard_arrow_right</mat-icon
            >
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="three">
        <div>
          <p class="number">112</p>
          <div class="button">
            <p>Upcoming Screenings</p>
            <mat-icon aria-hidden="false" color="accent" aria-label="arrow icon"
              >keyboard_arrow_right</mat-icon
            >
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="four">
        <div>
          <p class="number">112</p>
          <div class="button">
            <p>Upcoming Screenings</p>
            <mat-icon aria-hidden="false" color="accent" aria-label="arrow icon"
              >keyboard_arrow_right</mat-icon
            >
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
