.overview {
  .stats-bar-cont,
  .job-offers-cont,
  .offer-hiring-metrics-cont {
    margin-bottom: 48px;
  }
  .card-header {
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    .left {
      display: flex;
      .heading {
        margin: 6px 24px;
        p {
          opacity: 0.8;
          font-size: 24px;
          font-weight: 600;
          letter-spacing: 0.8px;
          line-height: 26px;
        }
      }
      .buttons {
        button {
          margin-right: 16px;
        }
      }
    }
    .right {
      display: flex;
      .heading {
        margin: 12px 0;
        p {
          opacity: 0.6;
          font-size: 12px;
          letter-spacing: 0;
          line-height: 13px;
          text-align: right;
        }
      }
      .buttons {
        button {
          margin-left: 16px;
          &:first-child {
            margin-left: 8px;
          }
        }
      }
    }
  }
  .bottom-section {
    padding: 0 80px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    & > div {
      width: calc(50% - 40px);
      .card-header {
        padding: 0;
      }
    }
  }
}
