<div class="overview">
  <div class="stats-bar-cont">
    <app-stats-bar></app-stats-bar>
  </div>
  <div class="header-cont">
    <div class="card-header">
      <div class="left">
        <div class="heading">
          <p>
            Job Offers
          </p>
        </div>
        <div class="buttons">
          <button mat-flat-button color="primary" class="primary-accent">
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              >add</mat-icon
            >
            Add new
          </button>
          <button mat-flat-button color="accent">
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              >people_alt</mat-icon
            >
            Candidates
          </button>
        </div>
      </div>
      <div class="right">
        <div class="heading">
          <p>
            Showing
          </p>
        </div>
        <div class="buttons">
          <button mat-flat-button color="primary" class="primary-accent">
            Archived (12)
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              >keyboard_arrow_down</mat-icon
            >
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="job-offers-cont">
    <app-job-offers-table></app-job-offers-table>
  </div>
  <div class="bottom-section">
    <div class="left">
      <div class="card-header">
        <div class="left">
          <div class="heading">
            <p>
              Invitations
            </p>
          </div>
        </div>
        <div class="right">
          <div class="heading">
            <p>
              Showing
            </p>
          </div>
          <div class="buttons">
            <button
              mat-flat-button
              class="primary-accent"
              [style.backgroundColor]="'#333333'"
            >
              Screening
              <mat-icon aria-hidden="false" aria-label="Example home icon"
                >keyboard_arrow_down</mat-icon
              >
            </button>
            <button mat-flat-button color="primary" class="primary-accent">
              <mat-icon aria-hidden="false" aria-label="Example home icon"
                >clear</mat-icon
              >
              Clear
            </button>
          </div>
        </div>
      </div>
      <div class="invitations-cont">
        <app-invitations></app-invitations>
      </div>
    </div>
    <div class="right">
      <div class="card-header">
        <div class="left">
          <div class="heading">
            <p>
              Offer &amp; Hiring metrics
            </p>
          </div>
        </div>
      </div>
      <div class="offer-hiring-metrics-cont">
        <app-offer-hiring-metrics></app-offer-hiring-metrics>
      </div>
      <div class="card-header">
        <div class="left">
          <div class="heading">
            <p>
              Workflow metrics
            </p>
          </div>
        </div>
      </div>
      <div class="workflow-metrics-cont">
        <app-workflow-metrics></app-workflow-metrics>
      </div>
    </div>
  </div>
</div>
