<div class="overview">
  <div class="stats-bar">
    <app-stats-bar></app-stats-bar>
  </div>
  <div class="card-header">
    <div class="left">
      <div class="heading">
        <p>
          Job Offers
        </p>
      </div>
      <div class="buttons">
        <button mat-flat-button color="primary">
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >add</mat-icon
          >
          Add new
        </button>
        <button mat-flat-button color="accent">
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >people_alt</mat-icon
          >
          Candidates
        </button>
      </div>
    </div>
    <div class="right">
      <div class="heading">
        <p>
          Showing
        </p>
      </div>
      <div class="buttons">
        <button mat-flat-button color="primary">
          Archived (12)
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >keyboard_arrow_down</mat-icon
          >
        </button>
      </div>
    </div>
  </div>
  <div class="job-offers">
    <app-job-offers-table></app-job-offers-table>
  </div>
</div>
